@charset "utf-8";

[class^="scene-"].active .main_txt{visibility:visible !important;}
[class^="scene-"].active .sub_txt{visibility:visible !important;}
[class^="scene-"].active .mobile_wrap{visibility:visible !important;}
[class^="scene-"].active .vi_wrap{visibility:visible !important;}
[class^="scene-"].active .cont_wrap .info_wrap{visibility:visible !important;}

.anchur { position:absolute; top:-50px; }

@media screen and (min-width:1201px) {
[class^="scene-"] { position:relative; width:100%; }
[class^="scene-"] .inner { position:relative; z-index:1; }
[class^="scene-"] .cont_wrap { overflow:hidden; }
[class^="scene-"] .main_txt { position: relative; visibility:hidden; }
[class^="scene-"] .sub_txt { position: relative; visibility:hidden; }
[class^="scene-"] .mobile_wrap { position: relative; visibility:hidden; }
[class^="scene-"] .vi_wrap { position: relative; visibility:hidden; }
[class^="scene-"] [class^="status_wrap-"] { display: inline-block;}	

.scene-1 { padding:300px 0 200px; position:relative; background:url(/theme/basic/img/sub/about_back.jpg) no-repeat center / cover; }
.scene-1 .cont_wrap { position:relative; width:1200px; margin:auto; }
.scene-1 .main_txt {  text-align:center; width:50%; }
.scene-1 .main_txt img { max-width:100%; }
.scene-1 .main_txt h2 { font-size:42px; font-family:'GS_B'; color:#fff; margin:0; text-align:left; }
.scene-1 .main_txt p { color:#fff; padding:10px 0; font-family:'GS_M'; font-size:18px; line-height:27px; margin:auto; text-align:left; word-break:keep-all; margin-bottom:50px; }

.scene-2 { padding:100px 0; position:relative; background-color:#f9f9f9; }
.scene-2 .cont_wrap { margin:auto; position:relative; width:1200px; margin:auto; }
.scene-2 .cont_wrap .inner { display:flex; }
.scene-2 .main_txt { padding:0; overflow:hidden; text-align:left; width:300px; margin-right:50px; }
.scene-2 .main_txt h2 { font-size:42px; color:#333; font-family:'GS_B' }
.scene-2 .main_txt h2 font { color:#e58e3f; }
.scene-2 .main_txt p { font-size:13px; color:#666; }
.scene-2 .main_txt img { max-width:80%; }
.scene-2 .sub_txt { padding:0; overflow:hidden; width:calc(100% - 350px); }
.scene-2 .sub_txt > div { padding:20px; position:relative; }
.scene-2 .sub_txt > div:before {display:block;visibility:visible; width:15px; height:15px; clear:both;content:""; margin:0; position:absolute; top:35px; left:0px; background:url(/theme/basic/img/sub/won.png) no-repeat center; z-index:1001; }
.scene-2 .sub_txt > div:after {display:block;visibility:visible; width:1px; height:100%; background-color:#ddd; clear:both;content:""; margin:0; position:absolute; bottom:0px; left:7px; }
.scene-2 .sub_txt ul { margin-left:130px; }
.scene-2 .sub_txt ul li { padding:0; font-size:15px; color:#666; font-family:'NS_M'; position:relative; height:50px; line-height:50px; }
.scene-2 .sub_txt h3 { font-size:27px; color:#333; font-family:'GS_B'; position:absolute; top:20px; left:40px; height:50px; line-height:50px; }

.scene-3 { padding:100px 0; position:relative; background:url(/theme/basic/img/sub/member_back.jpg) no-repeat center / cover; }
.scene-3 .cont_wrap { margin:auto; position:relative; width:1200px; margin:auto; }
.scene-3 .main_txt { padding:0 0 50px; }
.scene-3 .main_txt h2 { font-size:42px; font-family:'GS_B'; color:#fff; margin:0; text-align:center; }
.scene-3 .main_txt p { color:#666; padding:10px 0; font-family:'GS_M'; font-size:18px; line-height:27px; margin:auto; text-align:left; word-break:keep-all; margin-bottom:50px; }
.scene-3 .sub_txt { padding:0; overflow:hidden; }
.scene-3 .sub_txt ul { padding:0; overflow:hidden; display:grid; grid-template-columns:repeat(4, 1fr); column-gap:10px; row-gap:10px; }
.scene-3 .sub_txt ul li { padding:25px; overflow:hidden; color:#fff; border:1px solid rgba(255,255,255,0.4); background-color:rgba(255,255,255,0.1); }
.scene-3 .sub_txt ul li h6 { padding:0; overflow:hidden; text-align:center; }
.scene-3 .sub_txt ul li h6 img { border-radius:100%; margin-bottom:25px; }
.scene-3 .sub_txt ul li h2 { padding:0; overflow:hidden; font-family:'GS_M'; font-size:24px; font-weight:500; }
.scene-3 .sub_txt ul li h5 { padding:0; overflow:hidden; }
.scene-3 .sub_txt ul li p { padding:10px 0; overflow:hidden; color:#fff; line-height:24px; font-size:15px; }

.scene-4 { padding:100px 0; position:relative; background:url(/theme/basic/img/sub/family_back.jpg) no-repeat center / cover; }
.scene-4 .cont_wrap { margin:auto; position:relative; width:1200px; margin:auto; }
.scene-4 .cont_wrap .inner { display:flex; }
.scene-4 .main_txt { padding:50px; width:50%; border-right:1px solid rgba(255,255,255,0.4); }
.scene-4 .main_txt h2 { font-size:42px; font-family:'GS_B'; color:#fff; margin:0 0 30px; text-align:center; }
.scene-4 .main_txt h3 { color:#fff; font-family:'GS_M'; font-size:18px; }
.scene-4 .main_txt p { color:#ccc; padding:10px 0; font-family:'GS_M'; font-size:15px; line-height:21px; margin:auto; text-align:left; word-break:keep-all; }
.scene-4 .main_txt ul { text-align:center; }
.scene-4 .main_txt ul li { padding:10px 0px; text-align:left; }
.scene-4 .sub_txt { padding:0 50px; width:50%; }
.scene-4 .sub_txt iframe { border-radius:15px; }
}


@media screen and (max-width:1200px) and (min-width:901px) {
[class^="scene-"] { position:relative; width:100%; }
[class^="scene-"] .inner { position:relative; z-index:1; }
[class^="scene-"] .cont_wrap { overflow:hidden; }
[class^="scene-"] .main_txt { position: relative; visibility:hidden; }
[class^="scene-"] .sub_txt { position: relative; visibility:hidden; }
[class^="scene-"] .mobile_wrap { position: relative; visibility:hidden; }
[class^="scene-"] .vi_wrap { position: relative; visibility:hidden; }
[class^="scene-"] [class^="status_wrap-"] { display: inline-block;}	
	
.scene-1 { padding:300px 20px 200px; position:relative; background:url(/theme/basic/img/sub/about_back.jpg) no-repeat center / cover; }
.scene-1 .cont_wrap { position:relative; }
.scene-1 .main_txt {  text-align:center; width:50%; }
.scene-1 .main_txt img { max-width:100%; }
.scene-1 .main_txt h2 { font-size:42px; font-family:'GS_B'; color:#fff; margin:0; text-align:left; }
.scene-1 .main_txt p { color:#fff; padding:10px 0; font-family:'GS_M'; font-size:18px; line-height:27px; margin:auto; text-align:left; word-break:keep-all; margin-bottom:50px; }

.scene-2 { padding:100px 20px; position:relative; background-color:#f9f9f9; }
.scene-2 .cont_wrap { margin:auto; position:relative; }
.scene-2 .cont_wrap .inner { display:flex; }
.scene-2 .main_txt { padding:0; overflow:hidden; text-align:left; width:300px; margin-right:50px; }
.scene-2 .main_txt h2 { font-size:42px; color:#333; font-family:'GS_B' }
.scene-2 .main_txt h2 font { color:#e58e3f; }
.scene-2 .main_txt p { font-size:13px; color:#666; }
.scene-2 .main_txt img { max-width:80%; }
.scene-2 .sub_txt { padding:0; overflow:hidden; width:calc(100% - 350px); }
.scene-2 .sub_txt > div { padding:20px; position:relative; }
.scene-2 .sub_txt > div:before {display:block;visibility:visible; width:15px; height:15px; clear:both;content:""; margin:0; position:absolute; top:35px; left:0px; background:url(/theme/basic/img/sub/won.png) no-repeat center; z-index:1001; }
.scene-2 .sub_txt > div:after {display:block;visibility:visible; width:1px; height:100%; background-color:#ddd; clear:both;content:""; margin:0; position:absolute; bottom:0px; left:7px; }
.scene-2 .sub_txt ul { margin-left:130px; }
.scene-2 .sub_txt ul li { padding:0; font-size:15px; color:#666; font-family:'NS_M'; position:relative; margin-bottom:10px; }
.scene-2 .sub_txt h3 { font-size:27px; color:#333; font-family:'GS_B'; position:absolute; top:20px; left:40px; height:50px; line-height:50px; }

.scene-3 { padding:100px 20px; position:relative; background:url(/theme/basic/img/sub/member_back.jpg) no-repeat center / cover; }
.scene-3 .cont_wrap { margin:auto; position:relative; }
.scene-3 .main_txt { padding:0 0 50px; }
.scene-3 .main_txt h2 { font-size:42px; font-family:'GS_B'; color:#fff; margin:0; text-align:center; }
.scene-3 .main_txt p { color:#666; padding:10px 0; font-family:'GS_M'; font-size:18px; line-height:27px; margin:auto; text-align:left; word-break:keep-all; margin-bottom:50px; }
.scene-3 .sub_txt { padding:0; overflow:hidden; }
.scene-3 .sub_txt ul { padding:0; overflow:hidden; display:grid; grid-template-columns:repeat(4, 1fr); column-gap:10px; row-gap:10px; }
.scene-3 .sub_txt ul li { padding:25px; overflow:hidden; color:#fff; border:1px solid rgba(255,255,255,0.4); background-color:rgba(255,255,255,0.1); }
.scene-3 .sub_txt ul li h6 { padding:0; overflow:hidden; text-align:center; }
.scene-3 .sub_txt ul li h6 img { border-radius:100%; margin-bottom:25px; }
.scene-3 .sub_txt ul li h2 { padding:0; overflow:hidden; font-family:'GS_M'; font-size:24px; font-weight:500; }
.scene-3 .sub_txt ul li h5 { padding:0; overflow:hidden; }
.scene-3 .sub_txt ul li p { padding:10px 0; overflow:hidden; color:#fff; line-height:24px; font-size:15px; }

.scene-4 { padding:100px 20px; position:relative; background:url(/theme/basic/img/sub/family_back.jpg) no-repeat center / cover; }
.scene-4 .cont_wrap { margin:auto; position:relative; }
.scene-4 .cont_wrap .inner { display:flex; }
.scene-4 .main_txt { padding:50px; width:50%; border-right:1px solid rgba(255,255,255,0.4); }
.scene-4 .main_txt h2 { font-size:42px; font-family:'GS_B'; color:#fff; margin:0 0 30px; text-align:center; }
.scene-4 .main_txt h3 { color:#fff; font-family:'GS_M'; font-size:18px; }
.scene-4 .main_txt p { color:#ccc; padding:10px 0; font-family:'GS_M'; font-size:15px; line-height:21px; margin:auto; text-align:left; word-break:keep-all; }
.scene-4 .main_txt ul { text-align:center; }
.scene-4 .main_txt ul li { padding:10px 0px; text-align:left; }
.scene-4 .sub_txt { padding:0 50px; width:50%; }
.scene-4 .sub_txt iframe { border-radius:15px; }
}


@media screen and (max-width:900px) {
[class^="scene-"] { position:relative; width:100%; }
[class^="scene-"] .inner { position:relative; z-index:1; }
[class^="scene-"] .cont_wrap { overflow:hidden; }
[class^="scene-"] .main_txt { position: relative; visibility:hidden; }
[class^="scene-"] .sub_txt { position: relative; visibility:hidden; }
[class^="scene-"] .mobile_wrap { position: relative; visibility:hidden; }
[class^="scene-"] .vi_wrap { position: relative; visibility:hidden; }
[class^="scene-"] [class^="status_wrap-"] { display: inline-block;}	

.scene-1 { padding:200px 20px 100px; position:relative; background:url(/theme/basic/img/sub/about_back.jpg) no-repeat center / cover; }
.scene-1 .cont_wrap { position:relative; }
.scene-1 .main_txt {  text-align:center; }
.scene-1 .main_txt img { max-width:100%; }
.scene-1 .main_txt h2 { font-size:32px; font-family:'GS_B'; color:#fff; margin:0; text-align:left; }
.scene-1 .main_txt p { color:#fff; padding:10px 0; font-family:'GS_M'; font-size:15px; line-height:27px; margin:auto; text-align:left; word-break:keep-all; margin-bottom:50px; }

.scene-2 { padding:100px 20px; position:relative; background-color:#f9f9f9; }
.scene-2 .cont_wrap { margin:auto; position:relative; }
.scene-2 .main_txt { padding:0; overflow:hidden; text-align:left; }
.scene-2 .main_txt h2 { font-size:32px; color:#333; font-family:'GS_B' }
.scene-2 .main_txt h2 font { color:#e58e3f; }
.scene-2 .main_txt p { font-size:13px; color:#666; }
.scene-2 .main_txt img { max-width:80%; }
.scene-2 .sub_txt { padding:0; overflow:hidden; }
.scene-2 .sub_txt > div { padding:20px; position:relative; }
.scene-2 .sub_txt > div:before {display:block;visibility:visible; width:15px; height:15px; clear:both;content:""; margin:0; position:absolute; top:35px; left:0px; background:url(/theme/basic/img/sub/won.png) no-repeat center; z-index:1001; }
.scene-2 .sub_txt > div:after {display:block;visibility:visible; width:1px; height:100%; background-color:#ddd; clear:both;content:""; margin:0; position:absolute; bottom:0px; left:7px; }
.scene-2 .sub_txt ul { margin-left:130px; padding:20px 0 0; }
.scene-2 .sub_txt ul li { padding:0; font-size:12px; color:#666; position:relative; margin-bottom:10px; }
.scene-2 .sub_txt h3 { font-size:27px; color:#333; font-family:'GS_B'; position:absolute; top:20px; left:40px; height:50px; line-height:50px; }

.scene-3 { padding:100px 20px; position:relative; background:url(/theme/basic/img/sub/member_back.jpg) no-repeat center / cover; }
.scene-3 .cont_wrap { margin:auto; position:relative; }
.scene-3 .main_txt { padding:0 0 50px; }
.scene-3 .main_txt h2 { font-size:32px; font-family:'GS_B'; color:#fff; margin:0; text-align:center; }
.scene-3 .main_txt p { color:#666; padding:10px 0; font-family:'GS_M'; font-size:18px; line-height:27px; margin:auto; text-align:left; word-break:keep-all; margin-bottom:50px; }
.scene-3 .sub_txt { padding:0; overflow:hidden; }
.scene-3 .sub_txt ul { padding:0; overflow:hidden; display:grid; grid-template-columns:repeat(2, 1fr); column-gap:10px; row-gap:10px; }
.scene-3 .sub_txt ul li { padding:25px; overflow:hidden; color:#fff; border:1px solid rgba(255,255,255,0.4); background-color:rgba(255,255,255,0.1); }
.scene-3 .sub_txt ul li h6 { padding:0; overflow:hidden; text-align:center; }
.scene-3 .sub_txt ul li h6 img { border-radius:100%; margin-bottom:25px; max-width:100%; }
.scene-3 .sub_txt ul li h2 { padding:0; overflow:hidden; font-family:'GS_M'; font-size:24px; font-weight:500; }
.scene-3 .sub_txt ul li h5 { padding:0; overflow:hidden; }
.scene-3 .sub_txt ul li p { padding:10px 0; overflow:hidden; color:#fff; line-height:18px; font-size:12px; }

.scene-4 { padding:100px 20px; position:relative; background:url(/theme/basic/img/sub/family_back.jpg) no-repeat center / cover; }
.scene-4 .cont_wrap { margin:auto; position:relative; }
.scene-4 .main_txt { padding:50px 0; border-bottom:1px solid rgba(255,255,255,0.4); }
.scene-4 .main_txt h2 { font-size:32px; font-family:'GS_B'; color:#fff; margin:0 0 30px; text-align:center; }
.scene-4 .main_txt h3 { color:#fff; font-family:'GS_M'; font-size:18px; }
.scene-4 .main_txt p { color:#ccc; padding:10px 0; font-size:12px; line-height:21px; margin:auto; text-align:left; word-break:keep-all; }
.scene-4 .main_txt ul { text-align:center; }
.scene-4 .main_txt ul li { padding:10px 0px; text-align:left; }
.scene-4 .sub_txt { padding:50px 0; }
.scene-4 .sub_txt iframe { border-radius:15px; }
}


